.card .img-fit{
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card {
    height: 100%;
}

.card-body{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-text{
    flex-grow: 1;
}

@media (max-width: 767.98px) {
    .card .img-fit {
        aspect-ratio: 1.45 / 1;
    }
}