html, body {
    height: 100%;
    margin: 0;
}

.content-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper > *:not(footer) {
    flex: 1;
}

.custom-footer {
    background-color: #343a40; /* Dark gray */
    color: #d3d3d3; /* Light gray */
    padding: 20px 0;
}

.footer-text {
    margin: 0;
    color: #d3d3d3; /* Light gray */
}

.custom-footer a {
    text-decoration: none; /* Remove underline from links */
    color: #d3d3d3; /* Light gray */
}

.custom-footer a:hover {
    color: #ffffff; /* Change color on hover */
}

.custom-navbar {
    background-color: #343a40; /* Dark gray */
    height: 60px; /* Fixed height for the navbar */
    padding: 0 1rem; /* Adjust padding for horizontal spacing */
    display: flex;
    align-items: center; /* Center items vertically */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #d3d3d3; /* Light gray */
    padding: 0 1rem; /* Adjust padding for horizontal spacing */
    font-size: 1.5rem; /* Adjust the font size */
}

.custom-navbar .dropdown-menu {
    background-color: #343a40; /* Dark gray */
}

.custom-navbar .dropdown-item {
    color: #d3d3d3; /* Light gray */
}

.custom-navbar .dropdown-item:hover {
    background-color: #495057; /* Slightly lighter gray */
}

.card .img-fit {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

@media (max-width: 767.98px) {
    .card .img-fit {
        aspect-ratio: 1.45 / 1;
    }
}

.custom-indicators button {
    background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-indicators [data-bs-target] {
    background-color: black;
}

.container {
    max-width: 1140px; /* Ensure the container has a fixed max-width */
}

.p-5 {
    padding: 3rem !important; /* Adjust padding to align with the container */
}

/* Custom modal styles */
.modal-header, .modal-footer {
    background-color: #343a40; /* Match the header and footer color */
    color: #d3d3d3; /* Light gray text color */
}

.modal-header .btn-close {
    filter: invert(1); /* Invert the close button color */
}